<!doctype html>
<html>
	<head>
		<title>Code Sample</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>
		<div class="wrapper">
			<nav>
				<a href="/mark-twain" title="Mark Twain">Mark Twain</a>
				<a href="/shakespeare" title="Shakespeare">Shakespeare</a>
				<a href="/sir-mix-a-lot" title="Sir Mix-A-Lot">Sir Mix-A-Lot</a>
			</nav>
			<section id="mark-twain">
				<p>No, the romance and the beauty were all gone from the river. All the value any feature of it had for me now was the amount of usefulness it could furnish toward compassing the safe piloting of a steamboat. Since those days, I have pitied doctors from my heart.</p>
				<p>What does the lovely flush in a beauty's cheek mean to a doctor but a "break" that ripples above some deadly disease? Are not all her visible charms sown thick with what are to him the signs and symbols of hidden decay?</p>
				<p>Does he ever see her beauty at all, or doesn't he simply view her professionally, and comment upon her unwholesome condition all to himself? And doesn't he sometimes wonder whether he has gained most or lost most by learning his trade?</p>
				<footer>Mark Twain, 1883</footer>
			</section>
			<section id="shakespeare">
				<p>I know not how I shall offend in dedicating my unpolished lines to your lordship, nor how the world will censure me for choosing so strong a prop to support so weak a burden: only, if your honour seem but pleased, I account myself highly praised, and vow to take advantage of all idle hours, till I have honoured you with some graver labour.</p>
				<p>But if the first heir of my invention prove deformed, I shall be sorry it had so noble a godfather, and never after ear so barren a land, for fear it yield me still so bad a harvest. I leave it to your honour. able survey, and your honour to your heart's content; which I wish may always answer your own wish and the world's hopeful expectation.</p>
				<p>The love I dedicate to your lordship is without end; whereof this pamphlet, without beginning, is but a superfluous moiety. The warrant I have of your honourable disposition, not the worth of my untutored lines, makes it assured of acceptance. What I have done is yours; what I have to do is yours; being part in all I have, devoted yours.</p>
				<footer>Shakespeare, a long time ago</footer>
			</section>
			<section id="sir-mix-a-lot">
				<p>I like big butts and I can not lie. You other brothers can't deny that, when a girl walks in with an itty-bitty waist and a round thing in your face, you get sprung! Wanna pull out your tough, 'cause you notice that butt was stuffed deep in the jeans she's wearing. I'm hooked and I can't stop staring...</p>
				<p>Oh, baby, I wanna get with you and take your picture. My homeboys tried to warn me, but that butt you got makes me so horny.</p>
				<p>Ooh, Rump-o'-smooth-skin, you say you wanna get in my Benz? Well, use me; use me, 'cause you ain't that average groupie. I've seen them dancin'; to hell with romancin'!</p>
				<p>She's sweat, wet, got it goin' like a turbo 'Vette. I'm tired of magazines, sayin' flat butts are the thing. Take the average black man and ask him that, she gotta pack much back.</p>
				<p>So, fellas! (Yeah!) Fellas! (Yeah!) Has your girlfriend got the butt? (Hell yeah!) Tell 'em to shake it! (Shake it!) Shake it! (Shake it!) Shake that healthy butt! Baby got back!</p>
				<footer>Sir Mix-A-Lot, 1992</footer>
			</section>
		</div>
		<script src="js/app.js"></script>
	</body>
</html>
